<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="smoke-test-suite" >
	<test name="smoke-test" >
	    <classes>
	        <class name="testcases.TenentDetailsPageTest"> 
	        	<methods>
	        		<include name="enter_valid_details"></include>
	        		<include name="enter_invalid_details"></include>
	        	</methods>
	        </class>
	        <class name="testcases.SearchAddressPageTest"> 
	        	<methods>
	        		<include name="select_address"></include>
	        	</methods>
	        </class>
	    </classes>
	</test>
</suite>
