/.metadata/
iwtoa-admin-app/.classpath
iwtoa-admin-app/.project
iwtoa-admin-app/.settings/org.eclipse.core.resources.prefs
iwtoa-admin-app/.settings/org.eclipse.jdt.core.prefs
iwtoa-decision-analysis/.classpath
iwtoa-decision-analysis/.project
iwtoa-decision-analysis/.settings/org.eclipse.core.resources.prefs
iwtoa-decision-analysis/.settings/org.eclipse.jdt.core.prefs
iwtoa-listener/.classpath
iwtoa-listener/.project
iwtoa-listener/.settings/org.eclipse.core.resources.prefs
iwtoa-listener/.settings/org.eclipse.jdt.core.prefs
iwtoa-process-engine/.classpath
iwtoa-process-engine/.project
iwtoa-process-engine/.settings/org.eclipse.core.resources.prefs
iwtoa-process-engine/.settings/org.eclipse.jdt.core.prefs
iwtoa-process-engine-mongo/.classpath
iwtoa-process-engine-mongo/.project
iwtoa-process-engine-mongo/.settings/org.eclipse.core.resources.prefs
iwtoa-process-engine-mongo/.settings/org.eclipse.jdt.apt.core.prefs
iwtoa-process-engine-mongo/.settings/org.eclipse.jdt.core.prefs
iwtoa-process-engine-mongo/.settings/org.eclipse.m2e.core.prefs
iwtoa-analyticsdecisionscore/.classpath
iwtoa-analyticsdecisionscore/.project
iwtoa-analyticsdecisionscore/.settings/org.eclipse.jdt.core.prefs
quick-benchmark/.classpath
quick-benchmark/.project
quick-benchmark/.settings/org.eclipse.jdt.apt.core.prefs
quick-benchmark/.settings/org.eclipse.jdt.core.prefs
quick-benchmark/.settings/org.eclipse.m2e.core.prefs
