/.metadata/
demo-admin/.classpath
demo-admin/.project
demo-admin/.settings/org.eclipse.core.resources.prefs
demo-admin/.settings/org.eclipse.jdt.core.prefs
demo-decision-analysis/.classpath
demo-decision-analysis/.project
demo-decision-analysis/.settings/org.eclipse.core.resources.prefs
demo-decision-analysis/.settings/org.eclipse.jdt.core.prefs
demo-listener/.classpath
demo-listener/.project
demo-listener/.settings/org.eclipse.core.resources.prefs
demo-listener/.settings/org.eclipse.jdt.core.prefs
demo-process/.classpath
demo-process/.project
demo-process/.settings/org.eclipse.core.resources.prefs
demo-process/.settings/org.eclipse.jdt.core.prefs
demo-process-mongo/.classpath
demo-process-mongo/.project
demo-process-mongo/.settings/org.eclipse.core.resources.prefs
demo-process-mongo/.settings/org.eclipse.jdt.apt.core.prefs
demo-process-mongo/.settings/org.eclipse.jdt.core.prefs
demo-process-mongo/.settings/org.eclipse.m2e.core.prefs
demo-spark/.classpath
demo-spark/.project
demo-spark/.settings/org.eclipse.jdt.core.prefs
quick-benchmark/.classpath
quick-benchmark/.project
quick-benchmark/.settings/org.eclipse.jdt.apt.core.prefs
quick-benchmark/.settings/org.eclipse.jdt.core.prefs
quick-benchmark/.settings/org.eclipse.m2e.core.prefs
