@import '../node_modules/govuk-frontend/all.scss';
@import '../node_modules/govuk-frontend/all-ie8.scss';

$govuk-global-styles: true;
$govuk-assets-path: "/public/assets";
$govuk-images-path: "/public/assets/images";
$govuk-fonts-path: "/public/assets/fonts";

@import "node_modules/govuk-frontend/all";
@import "node_modules/govuk-frontend/all-ie8.scss";


.table-vertical{
  border-collapse: collapse; 
  border: none; 
  border-right: solid 1px #bfc1c3; 
  border-left: solid 1px #bfc1c3;
  border-bottom: solid 1px #bfc1c3;
}

.table-vertical-top{
  border-collapse: collapse; 
  border: none; 
  border-right: solid 1px #bfc1c3; 
  border-left: solid 1px #bfc1c3;
  border-bottom: solid 1px #bfc1c3;
  border-top: solid 1px #bfc1c3;
}

.move{
  padding-left: 20px;
}
.move-18{
  padding-left: 18px;
}
.imageSize{
  height: 25px;
  width: 25px;
}

.imageSizeSM{
  height: 15px;
  width: 15px;
}

.customizedfontSize{
  font-size: 11px;
}

.leftpadding{
  padding-left: 10px;
}

.withvalue{
  width: 99%;
}

.skillColor{
  background-color: #b10e1e;
  width: 25px;
  height: 25px;
}
.skillColor1{
  background-color: #006435;
  width: 25px;
  height: 25px;
}

.skillColor2{
  background-color: #ffbf47;
  width: 25px;
  height: 25px;
}
.skillColor3{
  background-color: 	#ffbf47;
  width: 25px;
  height: 25px;
}
.skillColor4{
  background-color: #2b8cc4	;
  width: 25px;
  height: 25px;
}
.tableoverflowXAxis{
  overflow-x:auto;
}

.aligntext{
  text-align: left;
}

.govuk-error-colour{
  color: 	#b10e1e;
}

.cardStyle{
  // max-width: 20rem;
}
.govuk-dpa-zaizi-color{
  color: #6f777b
}

.govuk-dpa-zaizi-customTitle{
  color: 	#2b8cc4
}

.textSize {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;     /* fallback */
  max-height: 32px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}


.App {
  text-align: center;
}

.govuk-zaizi-completed {
  width: 1.25rem;
  height: 1.25rem;  
  vertical-align: middle;
}

.govuk-zaizi-pending {
  width: 1.25rem;
  height: 1.25rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logout Button{
  margin-bottom: 0px;
}